body {
    margin: 0;
    padding: 0;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    margin: 0 40px;
}

ul li a .fa {
    font-size: 40px;
    color: #1f1c1c;
    line-height: 80px;
    transition: .5s;
    padding-right: 14px;
}

ul li a {
    display: block;
    width: 70px;
    height: 80px;
    background: #d1c4c4;
    text-align: center;
    padding-left: 20px;
    transform: rotate(318deg) skew(199deg) translate(0, 0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}

ul li a:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #d1c4c4;
    transform: .5s;
    transform: rotate(0deg) skewY(-45deg);
}

ul li a:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #d1c4c4;
    transform: .5s;
    transform: rotate(0deg) skewX(-45deg);
}

ul li a:hover {
    transform: skew(5deg) translate(20px, -50px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, .5);
}

ul li:hover .fa {
    color: white;
}

ul li:hover:nth-child(1) a {
    background: #375cac;
}

ul li:hover:nth-child(1) a:before {
    background: #3f60a2;
}

ul li:hover:nth-child(1) a:after {
    background: #3f60a2;
}

ul li:hover:nth-child(2) a {
    background: #04b8fa;
}

ul li:hover:nth-child(2) a:before {
    background: #53b9e0;
}

ul li:hover:nth-child(2) a:after {
    background: #53b9e0;
}

ul li:hover:nth-child(3) a {
    background: #e43720;
}

ul li:hover:nth-child(3) a:before {
    background: #c74a3a;
}

ul li:hover:nth-child(3) a:after {
    background: #c74a3a;
}

ul li:hover:nth-child(4) a {
    background: #e82b4e;
}

ul li:hover:nth-child(4) a:before {
    background: #e63354;
}

ul li:hover:nth-child(4) a:after {
    background: #e63354;
}