html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: black;
    display: grid;
    place-items: center;
}

.wrapper {
    text-align: center;
    width: 230px;
}

.search {
    display: inline-flex;
    padding: 5px;
    border-radius: 50px;
    transition: 0.4s;
}

.search:hover {
    background: rgba(255, 255, 255, 0.15);
}

.search:hover input {
    max-width: 180px;
}

.search input {
    background: transparent;
    border: 0;
    max-width: 0;
    padding: 0;
    text-indent: 12px;
    color: white;
    font-size: 22px;
    font-family: sans-serif;
    outline: none;
    transition: 0.4s;
}

.search input::placeholder {
    color: rgba(255, 255, 255, 0.375);
}

.search span {
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    background: #7724f3;
    color: white;
    border-radius: inherit;
    font-size: 24px;
    pointer-events: none;
}