* {
    font-family: sans-serif;
    user-select: none;
}

.ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: black;
}

.tabel {
    width: 480px;
    height: 480px;
    background-color: rgb(40, 69, 200);
    border-radius: 100%;
    border: 1px solid #00152B;
    box-shadow: -2px 20px 0 -3px #2e6eae, -20px 20px #0D152b;
    flex-direction: column;
}

.board {
    width: 369.2307692308px;
    height: 369.2307692308px;
    background: rgb(95, 160, 103);
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: -10px 5px 0px -2px #88ab8a;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    padding: 12px;
}

.board>span {
    background-color: #608869;
    color: white;
    font-size: 4em;
    padding-left: 9px;
    padding-top: 6px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: -1.2px 2px 0px 0px black;
}

.board>span:hover {
    background: #2e6eae;
}

.board>span:active {
    box-shadow: -1.2px 7.4px 0px -2.5px black;
}

#reset {
    margin-top: 14px;
    color: white;
}

.win {
    background: green !important;
}